<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="MainController">
<head lang="en">
    <meta charset="UTF-8">
    <title>Ads Page</title>
    <link rel="stylesheet" href="styles/styles.css"/>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.css"/>
</head>
<body>
<header id="header" class="box">
    <div class="row">
        <div class="col-md-2"></div>
        <h1 class="col-md-8 text-center">Ads <span data-ng-if="pageTitle">{{pageTitle}}</span></h1>
        <div class="col-md-2 text-center" data-ng-if="authentication.isLoggedIn()">
            <span>{{authentication.getCurrentUser().username}}</span>
            <a data-ng-click="authentication.logout()">Logout</a>
        </div>
    </div>
</header>

<div id="container">
    <div id="left-sidebar" class="col-md-2" data-ng-include="'views/sidebars/left-sidebar.html'" data-ng-controller="LeftSidebarController"></div>
    <div id="ads-window" class="col-md-8" data-ng-view=""></div>
    <div id="right-sidebar" class="col-md-2" data-ng-include="'views/sidebars/right-sidebar.html'" data-ng-controller="RightSidebarController">
    </div>
</div>

<footer id="footer" class="box">© 2014 by Software University Foundation, No Rights Reserved</footer>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/noty/js/noty/packaged/jquery.noty.packaged.js"></script>
<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-route/angular-route.js"></script>
<script src="../node_modules/angular-resource/angular-resource.js"></script>
<script src="../node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="../bower_components/angular-validation-match/dist/angular-input-match.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

<script src="js/app.js"></script>
<script src="js/services/user-services.js"></script>
<script src="js/services/adsServices.js"></script>
<script src="js/controllers/main-controller.js"></script>
<script src="js/controllers/user-controllers.js"></script>

</body>
</html>