<!--

TODO: implement logic to show different navigation menu for:
  - anonymous site visitors
  - logged in users
  - logged in administrators

-->

<div data-ng-if="authentication.isLoggedIn()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/user/userAds">My Ads</a></li>
        <li><a href="#/user/publishAd">Publish New Ad</a></li>
        <li><a href="#/user/editProfile">Edit Profile</a></li>
        <li><a data-ng-click="authentication.logout()">Logout</a></li>
    </ul>
</div>

<!-- Navigation box for anonymous site visitors -->
<div data-ng-if="!authentication.isLoggedIn()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li class="selected"><a href="#/">Home</a></li>
    </ul>
</div>

<div data-ng-if="!authentication.isLoggedIn()" class="box" >
    <p>To publish a new ad, please login.</p>
    <p><a href="#/login" class="btn btn-primary">Login</a></p>
    <p><a href="#/register" class="btn btn-primary">Register</a></p>
</div>

<!--Navigation box for admin users-->
<div data-ng-if="authentication.isAdmin()" class="box">
    <h2>Admin Panel</h2>
    <p><a href="#/ads">Ads</a></p>
    <p><a href="#/users">Users</a></p>
    <p><a href="#/categories">Categories</a></p>
    <p><a href="#/towns">Towns</a></p>
</div>

<div data-ng-show="myAds" class="box">
    <h2>My Ads</h2>

    <ul class="sidebar-menu">
        <li><a class="special" data-ng-class="{selected: filterByAdsStatus == null}"
               data-ng-click="filterByAdsClicked(null)" href="">All</a></li>
        <li><a data-ng-click="filterByAdsClicked('Published')"
               data-ng-class="{selected: filterByAdsStatus == 'Published'}" href="">Published</a></li>
        <li><a data-ng-click="filterByAdsClicked('WaitingApproval')"
               data-ng-class="{selected: filterByAdsStatus == 'WaitingApproval'}" href="">Waiting Approval</a></li>
        <li><a data-ng-click="filterByAdsClicked('Inactive')"
               data-ng-class="{selected: filterByAdsStatus == 'Inactive'}" href="">Inactive</a></li>
        <li><a data-ng-click="filterByAdsClicked('Rejected')"
               data-ng-class="{selected: filterByAdsStatus == 'Rejected'}" href="">Rejected</a></li>
    </ul>
</div>

