<div class="box">
    <div class="text-center">
        <!--<img src="images/loading.gif" data-ng-hide="ready" alt="Waiting image"/>-->
        <p data-ng-hide="ready">Loading ads. Please wait...</p>
    </div>
    <ul class="ads">
        <li data-ng-repeat="ad in adsData.ads" class="box">
            <h1>{{ad.title}}</h1>
            <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
            <div class="row">
                <div data-ng-if='ad.imageDataUrl' class="col-md-10">
                    <img class="ad-image" data-ng-src="{{ad.imageDataUrl}}" />
                </div>
                <div class="col-md-2">
                    <p>Status:</p>
                    <p >{{ad.status}}</p>
                    <button class="btn btn-primary" data-ng-show="filterByAdsStatus == 'WaitingApproval' || filterByAdsStatus == 'Published'" data-ng-click="deactivateAd(ad.id)">Deactivate</button>
                    <br/>
                    <button class="btn btn-primary" data-ng-show="filterByAdsStatus == 'Inactive'" data-ng-click="editAd(ad.id)">Edit</button>
                    <br/>
                    <button class="btn btn-primary" data-ng-show="filterByAdsStatus == 'Inactive'" data-ng-click="publishAgain(ad.id)">Publish Again</button>
                    <br/>
                    <button class="btn btn-primary" data-ng-show="filterByAdsStatus == 'Inactive'" data-ng-click="deleteAd(ad)">Delete</button>
                </div>
            </div>
            <div>
                <p>Text: {{ad.text}}</p>
            </div>
        </li>
    </ul>
    <div class="text-center">
        <pagination
                page="pageParams.startPage" total-items="adsData.numItems" items-per-page="pageParams.pageSize" ng-model="pageParams.currentPage"
                ng-change="pageChanged()" boundary-links="true" previous-text="<" next-text=">" first-text="<<"
                last-text=">>" max-size="9">
        </pagination>
    </div>

    <div data-ng-if="adsData.ads.length==0" class="box no-data">
        No ads found.
    </div>
</div>